version: v1
project_name: statlean
output_policy:
  require_zero_sorry: true
  require_zero_axiom: true
  statlib_first: true

include:
  theorem_ids:
    - concentration.efron_stein.core
    - concentration.gaussian_poincare.from_efron_stein

exclude:
  theorem_ids: []

constraints:
  max_new_files_per_batch: 20
  forbid_direct_mathlib_import_in_formalization: false
  allowed_axiom_paths: []
